<!DOCTYPE html>
<!--See comments in app.py for an explanation of what this app does-->
<!--This is the landing page-->

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    button {
        font-size: larger;
        color: aliceblue;
        background-color: darkcyan;
        margin: 1%;
    }

    div {
        background-color: lightblue;
    }
</style>

<div class="center-screen">
    <a href="makepost">
        <button type="button">Make a post</button>
    </a>
    <a href="seeposts">
        <button type="button">See all posts</button>
    </a>
</div>